
@import "statics";
@import "header";
@import "animations";
@import "home";
@import "work";
@import "services";
@import "testimonial";
@import "contact";
@import "footer";
@import "mediaquery";


*{
    margin: 0;
    padding: 0;
    font-family: $text2;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

 a {
    text-decoration: none;
}

body {
    background-color: $color1;
    overflow-x: hidden;
}

.disableBtn{
    background-color: aliceblue;
    cursor: not-allowed;
}